<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="row g-3" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <div class="col-12">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
        <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors && novoUsuarioForm.get('email')?.touched" mensagem="Email Obrigatório"></app-mensagem>
    </div>

    <div class="col-12">
        <input type="text" class="form-control" placeholder="Nome Completo" formControlName="fullName">
        <app-mensagem *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched" mensagem="Nome incorreto"></app-mensagem>
    </div>

    <div class="col-12">
        <input type="password" class="form-control" placeholder="Senha" formControlName="password">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary btn-block">Cadastro</button>
    </div>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça login</a></p>